:root {
  --primary-color: #2f3de0;
  --background-color: #ffffff8d;
  --sidebar-color: #000000;
  --card-color: #000000;
  --text-color: #0a1eff;
  --badge-gradient: linear-gradient(135deg, #6a11cb, #8e2de2);

  --spacing: 24px;
  --radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  text-align: center;
  padding: 30px 0;
}

header h1 {
  color: var(--primary-color);
}

/* MAIN LAYOUT */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main-wrapper {
  width: 100%;
  max-width: 1400px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ROWS */

.row {
  display: flex;
  gap: 40px;
  width: 100%;
}

/* SIDEBAR */

.sidebar {
  background: var(--sidebar-color);
  padding: var(--spacing);
  border-radius: var(--radius);

  width: 240px;
  flex-shrink: 0;
  height: fit-content;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* CONTENT */

.content {
  flex: 1;
  min-width: 0;
}

.content h2 {
  margin-bottom: 20px;
}

/* TASK CARDS */

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background: var(--card-color);
  padding: 18px 24px;
  border-radius: var(--radius);

  margin-bottom: 20px;

  transition: all 0.3s ease;
}

.task:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.24);
}

.badge {
  padding: 8px 16px;
  border-radius: 30px;
  background: var(--badge-gradient);
  color: white;
  font-weight: bold;
}

/* BUTTON */

button {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background: var(--primary-color);
  color: rgb(0, 0, 0);
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  background: var(--card-color);
  color: white;
  margin-top: auto;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  .row {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
