:root {
  --primary-color: #2f3de0;
  --background-color: #ffffff;
  --sidebar-color: #000000;
  --card-color: #000000;
  --text-color: #0a1eff;
  --badge-gradient: linear-gradient(135deg, #6a11cb, #8e2de2);

  --spacing: 24px;
  --radius: 16px;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

/* HEADER */

header {
  text-align: center;
  padding: 30px 0;
}

header h1 {
  color: var(--primary-color);
}

/* MAIN LAYOUT */

main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 40px;
  max-width: 100%;
}

/* SIDEBAR */

.sidebar {
  background: var(--sidebar-color);
  padding: var(--spacing);
  border-radius: var(--radius);
  width: 240px;
  flex-shrink: 0;
  height: fit-content;
  align-self: flex-start;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* CONTENT */

.content {
  flex: 1;
  min-width: 0;
}

.content h2 {
  margin-bottom: 20px;
}

/* TASK CARDS */

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  background: var(--card-color);
  padding: 20px;
  border-radius: var(--radius);
  margin-bottom: 20px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.task:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.24);
}

.badge {
  padding: 8px 16px;
  border-radius: 30px;
  background: var(--badge-gradient);
  color: white;
  font-weight: bold;
}

/* Boton */

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: flex;
  gap: 40px;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  background: var(--card-color);
  color: white;
  margin-top: auto;
}


/* Responsivo */

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
